<div class="content-inner">
  <h2>Example Data Table</h2>
  <div class="header">

    <!-- DataTable Filter -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <!-- Environment Filter -->
    <mat-form-field>
      <mat-select placeholder="Environment" [formControl]="selectedEvn" multiple (change)="applyFilter(selectedEvn.value)">
        <mat-select-trigger>
          {{selectedEvn.value ? selectedEvn.value[0] : ''}}
          <span *ngIf="selectedEvn.value?.length > 1" class="additional-selection">
        (+{{selectedEvn.value.length - 1}} others)
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let evn of listEnvs" [value]="evn" panelClass="multiple-select">{{evn}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table">
    <mat-table #table [dataSource]="dataSource">

      <!-- Select Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox class="header-selected"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef> Key</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.key}}</mat-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Value</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
      </ng-container>

      <!-- Environment Column -->
      <ng-container matColumnDef="environment">
        <mat-header-cell *matHeaderCellDef> Environment</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let evn of element.environment" class="evn" [ngClass]="evn">{{evn}}</span>
        </mat-cell>
      </ng-container>

      <!-- Datetime filter Column -->
      <ng-container matColumnDef="datetime">
        <mat-header-cell *matHeaderCellDef>Datetime filter</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.datetime}}</mat-cell>
      </ng-container>

      <!-- Version filter Column -->
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef>Version filter</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.version}}</mat-cell>
      </ng-container>

      <!-- Context filter Column -->
      <ng-container matColumnDef="context">
        <mat-header-cell *matHeaderCellDef>Context filter</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.context}}</mat-cell>
      </ng-container>

      <!-- Secured Column -->
      <ng-container matColumnDef="secured">
        <mat-header-cell *matHeaderCellDef>Secured</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="element.secured">
            <mat-icon aria-label="icon-button" class="secured">security</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Context filter Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="menu-section">
            <mat-toolbar>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-toolbar>

            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of iconItems">
                <mat-icon>{{ item.icon }}</mat-icon>
                {{ item.text }}
              </button>
            </mat-menu>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
