.mat-column-select {
  overflow: initial;
}

.mat-checkbox-layout {
  display: block !important;
}

.content-inner {
  padding: 20px;
}

.table {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 8px 10px 1px rgba(0, 0, 0, .14),
  0 3px 14px 2px rgba(0, 0, 0, .12);
}

.table mat-icon.secured {
  color: #2196F3;
}

.table .mat-header-row {
  background-color: #333;
}

.table .mat-header-cell {
  color: #fff;
  font-size: 14px;
}

.table .evn {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 2px;
  padding: 4px 8px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ababab;
}

.table .evn.dev {
  background-color: green;
}

.table .evn.prod {
  background-color: red;
}

.table .mat-row:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}

button.mat-menu-item {
  line-height: 35px;
  height: 35px;
  font-size: 14px;
}

.mat-menu-item .material-icons {
  font-size: 22px;
}

.mat-toolbar {
  background: transparent;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-option-multiple .mat-option-text, .mat-select-value-text {
  text-transform: uppercase;
}


.header-selected .mat-checkbox-frame {
  border: 1px solid #fff;
}
